.animeModal {
  width: 100%;
  
  height: 100vh;
  /* max-height: 100vh; */

  background-color: rgba(205, 205, 205, 0.45);

  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  /* overflow: auto; */
}

.animeModal-con {
  flex: 0 1 1200px;
  /* height: auto; */
  height: 800px;
  background-color: #000;
  color: #fff;
  
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 15px;
  /* overflow: hidden; */

  padding: 4vw ;
  box-sizing: border-box;

  
}

.animeModal-con .animeModal-wrap {
  overflow: auto;

  /* display: flex; 
  flex-direction: column; */
}

.animeModal-con .animeModal-wrap::-webkit-scrollbar {
  display: none;
}

.animeModal-con .top {
  flex: 3;
  width: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  
  position: relative;

  /* border-radius: 10px; */
  box-sizing: border-box;
}



.animeModal-con .top img {
  display: block;
  width: 100%;
 

  z-index: 998;

  
  
  mask-image: linear-gradient(to bottom, rgba(22, 22, 22, 1), rgba(22, 22, 22, 0));
}

.animeModal-con .top h3 {
  position: absolute;
  bottom: 3vw;
  left: 3vw;
  z-index: 999;

  font-size: 50px;
}

.animeModal-con .bottom {
  flex: 1;
  /* background-color: blue; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* padding: 1vw; */
  box-sizing: border-box;

  gap: 1vw;

  width: 100%;
}


.animeModal-con .bottom .bottom-line1 {
  display: flex;
  align-items: center;

  gap: 0.5vw;
}

.animeModal-con .bottom .bottom-line1 .age {
  width: 30px; 
  height: 30px;

  background-color: #373737;
  border-radius: 5px;

  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
}

.animeModal-con .bottom .bottom-line2 {
  display: flex;
  gap: 1vw;
}

.animeModal-con .bottom .bottom-line2 button {
  padding: 0.5vw 2vw;
  box-sizing: border-box;

  border: 0;
  border-radius: 5px;
  background-color: rgb(255, 0, 85, 1);
  color: #fff;

}

.animeModal-con .bottom .bottom-line2 > button:first-child img {
  display: none;
}

.animeModal-con .bottom .bottom-line2 > button:hover {
  background-color: #fff;
  color: rgb(255, 0, 85, 1);
}

.animeModal-con .bottom .bottom-line3 {
  display: flex;
  justify-content: space-between;

  padding: 5vmin;
  box-sizing: border-box;

  
}

.animeModal-con .bottom .bottom-line3 .buttons {
  display: flex;
  gap: 5vmin;
}



.animeModal-con .bottom .bottom-line3 .buttons-child {
  flex:1;

  border: 2px solid #fff;

  padding: 1vmax 1.5vmax;
  box-sizing: border-box;

  color: #fff;
  background-color: unset;
}

.animeModal-con .bottom .bottom-line3 span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.animeModal-con span.close {
 
  /* right: 20px;
  top: 20px; */

 
 
  




  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  
  color: #fff;
  
  box-sizing: border-box;

  position: absolute;
  top: 1.85vh;
  right: 1.85vh;

  z-index: 1000;
}


/* 태블릿 */
@media (max-width: 1024px) {
 
}

/* 모바일 */
@media (max-width: 768px) {
  .animeModal {
    background-color: unset;
  }

  .animeModal-con {
    width: 100%;
    height: calc(100vh - 80px - 80px);
    border-radius: unset;
  }

  .animeModal-con .top {
    flex: 3;
  }

 

  .animeModal-con .bottom {
    flex: 2;

    justify-content: unset;

    gap: 10px;

    position: relative;
  }

  .animeModal-con .bottom .bottom-line2 {
    flex-direction: row-reverse;

    gap: 10px;
  }

  .animeModal-con .bottom .bottom-line2 button:first-child {
    

    display: flex;
    justify-content: center;
    align-items: center;

    

  }

  .animeModal-con .bottom .bottom-line2 button:first-child span {
    display: none;

  }

  .animeModal-con .bottom .bottom-line2 button:first-child img {
    display: flex;

    
  }

  .animeModal-con .bottom .bottom-line2 button:nth-child(2) {
    width: 100%;

    padding: 10px;
  }

  .animeModal-con .bottom .bottom-line2 .count-buttons {
    position: absolute;

    display: flex;

    top: 140px;
    left: calc(50% - 103.88px);

    gap: 30px;


    /* border: 1px solid #f00; */

  }

  .animeModal-con .bottom .bottom-line2 .count-buttons .buttons {
    border: 1px solid #fff;
    padding: 10px 20px;
    box-sizing: border-box;

    border-radius: unset;
  }
  
  .animeModal-con .bottom .bottom-line2 .count-buttons button {
    background-color: unset;
  }

  

  .animeModal-con .bottom .bottom-line3 span.price {
    background-color: unset;
    /* border: 1px solid #f00; */

    display: inline-block;

    width: 280px;
  }

  .animeModal-con .bottom .bottom-line3 span.price::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    box-shadow: inset 0 -1px 1px hsla(0, 0%, 100%, 0.692);
  }

}