.member-index {
  width: 100%;
}

.member-index .member-index-con {
  width: 100%;
  height: auto;

  

}

.member-index .member-index-con > .member-index-header {
  width: 100%;
  height: 400px;


  border: 2px solid #f00;
  box-sizing: border-box;

  display: flex;
  align-items: center;
}

.member-index .member-index-con > .member-index-header .image-box {
  width: 100px;
  height: 100px;

  border: 4px solid #f00;
  box-sizing: border-box;
}

.member-index .member-index-con > .member-index-header .member-index-data {
  width: 100px;

  height: 200px;

  border: 1px solid #f00;
  box-sizing: border-box;
}

.member-index .member-index-con > .member-index-header .member-index-data > .buttons {
  width: 100px;
  height: 100px;

  border: 1px solid #f00;
  box-sizing: border-box;
}

.member-index .member-index-con > .member-index-header .member-datas {
  width: 100px;
  height: 300px;

  border: 1px solid #f00;
  box-sizing: border-box;
}

.member-index .member-index-con > .member-index-container {
  width: 100%;
  height: 400px;

  border: 1px solid #f00;
  box-sizing: border-box;

  padding: 1vw;
  box-sizing: border-box;
}

.member-index .member-index-con > .member-index-container .member-index-container-con {
  width: 500px;
  height: 300px;

  border: 1px solid #f00;
  box-sizing: border-box;
}

.member-index .member-index-con > .member-index-container .member-index-container-con .storage-box > .top {
  width: 100px;
  height: 100px;

  border: 1px solid #f00;
  box-sizing: border-box;
}

.member-index .member-index-con > .member-index-container .member-index-container-con .storage-box > .bottom {
  width: 100px;
  height: 100px;

  border: 1px solid #f00;
  box-sizing: border-box;
}


/* .member .member-con .member-wrap {
  flex: 0 1 1000px;
  border: 1px solid #fff;

  padding: 1vw;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  gap: 0.5vw;
}

.member .member-con .user-data {
  border: 1px solid #fff;
  box-sizing: border-box;
}

.member .member-con .member-wrap .member-payment {
  height: 450px;

  border: 1px solid #fff;
  box-sizing: border-box;
}

.member .member-con .member-wrap .member-btn {
  display: flex;
  gap: 0.2vw;
}

.member .member-con .member-wrap .member-btn button {
  flex: 1;
  
  padding: 0.5vw 0;
  border: 0;

  font-weight: bold;

  transition: all 0.3s;
}

.member .member-con .member-wrap .member-btn button:hover {
 opacity: 0.9;
} */