.movie{
  width: 100%;
  box-sizing: border-box;
  /* overflow: hidden; */
}
.movie .movie-con{
  width: 100%;
  box-sizing: border-box;
}
.movie .movie-con>h1{
  padding: 10px 20px;
  /* border-bottom: 1px solid #ffffff; */
  
}



.movie .movie-con .comedy{
  padding: 50px 0px;
  width: 100%;
  }
.movie .movie-con .comedy h1{
  padding: 10px 20px;

}
.movie .movie-con .comedy ul{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1,300px);
  grid-auto-rows: auto;
  gap: 15px;
}

.movie .movie-con .comedy ul li img{
  transition: all 0.3s;
  width: 100%;
  }

.movie .movie-con .comedy ul li img:hover{
  transform: translateY(-5%);
}


.movie .movie-con .action{
  padding: 50px 0px;
  width: 100%;
  }
  .movie .movie-con .action h1{
    padding: 10px 20px;

  }
 
.movie .movie-con .action ul{
  padding: 20px;
  
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1,300px);
  grid-auto-rows: auto;
  gap: 15px;
}
.movie .movie-con .action ul li img{
  transition: all 0.3s;
  width: 100%;
  }
  
  .movie .movie-con .action ul li img:hover{
    transform: translateY(-5%);
  }
  



.movie .movie-con .fantazy{
  padding: 50px 0px;
  width: 100%;
  }
  .movie .movie-con .fantazy h1{
    padding: 10px 20px;

  }
 
.movie .movie-con .fantazy ul{
  padding: 20px;
  
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1,300px);
  grid-auto-rows: auto;
  gap: 15px;
}
.movie .movie-con .fantazy ul li img{
  transition: all 0.3s;
  width: 100%;
  }
  
  .movie .movie-con .fantazy ul li img:hover{
    transform: translateY(-5%);
  }
  


.movie .movie-con .thriller{
  padding: 50px 0px;
  width: 100%;
  }
  .movie .movie-con .thriller h1{
    padding: 10px 20px;

  }
 
.movie .movie-con .thriller ul{
  padding: 20px;
  
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1,300px);
  grid-auto-rows: auto;
  gap: 15px;
}
.movie .movie-con .thriller ul li img{
  transition: all 0.3s;
  width: 100%;
  }
  
  .movie .movie-con .thriller ul li img:hover{
    transform: translateY(-5%);
  }
  