@import url(./css/common/reset.css);
@import url(./css/common/header.css);
@import url(./css/common/headerNav.css);
@import url(./css/common/content.css);
@import url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo.css');
@import url(./css/webtoon/webtoonIndex.css);
@import url(./css/payment/paymentIndex.css);
@import url(./css/drama/dramaPage.css);
@import url(./css/cart/cart.css);
@import url(./css/anime/animeIndex.css);
@import url(./css/auth/auth.css);
@import url(./css/main/MainIndex.css);
@import url(./css/movie/movie.css);
@import url(./css/movie/moviemodal.css);
@import url(./css/main/MainModal.css);
@import url(./css/admin/admin-left.css);
@import url(./css/admin/admin-right.css);
@import url(./css/admin/admin-content.css);
@import url(./css/admin/admin-product.css);
@import url(./css/cart/cart.css);
@import url(./css/admin/admin-product-update.css);
@import url(./css/admin/admin-product-detail.css);
@import url(./css/admin/admin-product-add.css);
@import url(./css/admin/adminIndex.css);
@import url(./css/admin/admin-member.css);
@import url(./css/admin/admin-member-update.css);
@import url(./css/admin/admin-member-detail.css);
@import url(./css/admin/admin-addmodal.css);


#root {
  background-color: black;
  color: white;
}

.layout {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between; 
}

.layout .left {
  flex: 0 0 260px;
  position: sticky;
  top: 0;
  height: 100vh;
}

.layout .right {
  flex: 1;
  position: sticky;
  top: 0;
  height: 100vh;
}
.admin {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between; 
}

.admin .admin-left {
  flex: 0 0 260px;
  position: sticky;
  top: 0;
  height: 100vh;
}

.admin .admin-right {
  flex: 1;
  position: sticky;
  top: 0;
  height: 100vh;
}