.cartIndex{
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cartIndex .cart-con{
flex: 0 1 1100px;
height: 100%;
}
.cartIndex .cart-con h2.title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartIndex .cart-con .item-list{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(1,100px);
  grid-auto-rows: 100px;
  padding: 1vw;
  gap: 1vw;
  box-sizing: border-box;
}
.cartIndex .cart-con .item-list .cart-items{
  display: flex;
  justify-content: space-between;
}
.cartIndex .cart-con .item-list .cart-items .top{
  display: flex;
  justify-content: center;
  flex: 0 0 150px;
}
.cartIndex .cart-con .item-list .cart-items .top img{
  width: 100%;
  display: block;
}
.cartIndex .cart-con .item-list .cart-items .bottom{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1vw;
  box-sizing: border-box;
}
.cartIndex .cart-con .item-list .cart-items .bottom button.plus{
  width: 20px;
  height: 20px;
}
.cartIndex .cart-con .item-list .cart-items .bottom button.minus{
  width: 20px;
  height: 20px;
}
.cartIndex .cart-con .item-list .cart-items .bottom span{
  color: white;
}
.cartIndex .cart-con .item-list .cart-items .bottom button.delete{
  width: 20px;
  height: 20px;
}
.cartIndex .cart-pay{
  width: 200px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.cartIndex .cart-pay .cart-pay-con{
  width: 100%;
  height: 200px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cartIndex .cart-pay .cart-pay-con button.paybtn{
  width: 100px;
}