.dramaModal{
  width: 100%;
  height: 100vh;
  background-color: rgba(172, 172, 172, 0.377);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dramaModal .dramaModal-con{
  width: 400px;
  height: 350px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.dramaModal .dramaModal-con span.close{
  color: white;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0;
}
.dramaModal .dramaModal-con .item{
  width: 100%;
}
.dramaModal .dramaModal-con .item img{
  width: 100%;
  height: auto;
  display: block;
}
.dramaModal .dramaModal-con .item span{
  color: black;
}
.dramaModal .dramaModal-con .item .modal-list{
  width: 100%;
  display: flex;
  flex-direction: column;
}